@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    @apply bg-surface text-gray-100 font-sans text-sm antialiased;
    user-select: none;
  }

  body.cm-resizing,
  body.cm-resizing * {
    cursor: col-resize !important;
    user-select: none !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-border rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}

@layer utilities {
  .text-muted {
    @apply text-gray-400;
  }
  .border-subtle {
    @apply border-surface-border;
  }
}
